.order-details{
    background: #fff;
    display:flex;
    flex-direction:column;
    padding:30px;
    background: #ECEBBD;
    border-radius:4px;
}
.d{
    color:green;
    font-size:25px;
    border-bottom:1px solid silver;
}
.l{
    width:100%;
    display:flex;
    margin-bottom:10px;
}
.characteristic{
    width: 50%;
    color:black;
    font-weight:700;
}

.close{
    width:5%;
    display:flex;
    margin-left:auto;
    
    outline:none !important;
}